section label:before {
  content: attr(title);
  text-align: center;
  font-size: xx-large;
  font-family: var(--font-on-cover);
  position: absolute;
  top: 0;
  width: inherit;
  display: block;
  height: inherit;
  background-color: green;
  clip-path: polygon(
    50% 0,
    50% 0,
    100% 40%,
    83% 49%,
    100% 60%,
    80% 100%,
    0 100%,
    0 0
  );

  transition: 1s;
  transform-origin: left;
  transform: rotateY(0deg);
}
section label:hover:before {
  transform: rotateY(180deg);
  box-shadow: -200px -16px 159px -125px rgba(0, 0, 0, 0.63) inset;
  background-color: rgb(47, 255, 75);
}

section label:after {
  content: attr(title);
  text-align: center;
  font-size: xx-large;

  position: absolute;
  top: 0;
  width: inherit;
  display: block;
  height: inherit;
  background-color: rgb(0, 255, 115);
  clip-path: polygon(20% 0, 100% 0, 100% 50%, 100% 100%, 20% 100%, 0% 50%);

  transition: 1s;
  transform-origin: right;
  transform: rotateY(0deg);
}

section label:hover:after {
  transform: rotateY(-180deg);
  box-shadow: 200px -16px 125px -85px rgba(0, 0, 0, 0.63) inset;
  background-color: rgb(47, 255, 75);
}
