@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
:root {
  --folder-bg: grey;

  --movement: calc(50vw * 10 / 20);
  --thisCount: calc(counter * 1.7 / 100);
  --cardWidth: clamp(100px, 300px, 500px);
  --cardheight: clamp(200, 500px, 640px);
  --bg-Random: #1e88e5
    linear-gradient(
      to bottom,
      #1e88e5,
      #1e88e5 calc(50% - 10px),
      #3949ab calc(50% + 10px),
      #3949ab
    );
    --font-on-cover: font-family: 'Amatic SC', cursive;
}
header {
  color: white;
}
body {
  margin: 0;
  padding: 0;
font-family: var(--font-on-cover);
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

details em{
  /* color:orange; */
  font-size:30px;
}

details {
  padding: 0px 0px 0px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border:0;
outline:none;
box-shadow:none;
 
}
details > p {
  color: Black;
  font-size: x-large;
  margin:5px;
  text-align: left;
}
details[open]{
  color:red;
  transition: 2s;
}
h3 em {
  font-size: 50px;
  
  text-shadow: 2px 1px 1px #000;
  
}
h3 em:hover{
 color:green;
 transition:0.2s;
}
details:focus {

}
details h3 {
  font-kerning: 10px;
  color: whitesmoke;
  letter-spacing: 10px;

  /* text-shadow: 1px 1px 1px #000; */
  text-transform: capitalize;
  font-size: xx-large;
}
body > main > section > label > details > em{
text-align: initial;
color:green;
}

label[type="radio"] {
  text-shadow: 10px 10px 10px #000;
}
summary {
  top: 10px;
  padding: 10px;
  font-size: 3vh;
  font-kerning: 10px;
  color: whitesmoke;
  letter-spacing: 5px;

}

section label {
  position: absolute;
  width: var(--cardWidth);
  height: var(--cardheight);
  margin-left: -11em;
  border-radius: 5px;
  font-family: var(--font-on-cover);
  height: 60vh;
  background-color: grey;
  padding: 0;
}


svg[value="next"]{
  width:50px;
  height:50px;
}
svg[value="next"]:hover{
animation: nextBtn 1s 1 running;
}

label span {
  color: green;
  font-size:20px;
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}
section label:nth-child(0) {
}

input[type="radio"]:checked + label {
  animation-name: moveCardDown;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;

}

input[type="radio"] + label {
  /* z-index:10; */
  /* animation-name: moveCardUp;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  animation-duration: 1.5s; */
}
input {
  position: absolute;
  left: -60vw;
}
